
<!DOCTYPE html>
<html>
		<head>
			<meta charset="UTF-8">
			<title> Libreria de Poemsas </title>
			<link href="../estilos/style.css" rel="stylesheet" type="text/css">
			<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
		</head>
		<body>
			<header>
				<h1 id = "titular"> CANTOS DEL POETA DE LA TRISTE FIGURA </h1>
			</header>
			<hr>
			<section>
				<nav id = "navegacion">
					<p class="titulo_boton">NAVEGACIÓN</p>
					<hr>
					<ul>
						<li class = "boton"> <a href="../index.html" >Inicio</a></li>
						<hr>
						<li class = "boton"> <a href="Galeries.html" >Galeria de imagenes</a></li>
						<hr>
						<li class = "boton"> <a href="Libraries.html" >Biblioteca de poemas</a></li>
					</ul>
				</nav>
			</section>
			<section>
				<nav id ="Contact">
					<p class = "titulo_boton">REDES SOCIALES</p>
					<hr>
					<li class="boton" id = "contactBoton"><a href="#" >Facebook</a></li>
					<hr>
					<li class="boton" id = "contactBoton"><a href="#" >Deviant Art</a></li>
					<hr>
					<li class="boton" id = "contactBoton"><a href="#" >Patreon</a></li>
				</nav>
			</section>
			<div id= "libreria_mayhem">
				<a class="hover_librerias" href="Mayhem_Library.html" alt= "Mayhem">
					<p class="titulo">MAYHEM</p>
					<div>
						<img class="imagenes_librerias" src="../src/Paints/JCCL-201-GB.jpg" height="200">
						<img class="imagenes_librerias" src="../src/Paints/Mi-unica-estrella.jpg" height="200">
						<img class="imagenes_librerias" src="../src/Paints/EPDLTF.jpg" height="200">
					</div>
				</a>
			</div>
			<div id= "libreria_Tormes">
				<a class="hover_librerias" href="Tormes_Library.html" alt= "Tormes">
					<p class="titulo">EL LAZARILLO DE TORMES</p>
					<div>
						<img class="imagenes_librerias" src="../src/Paints/Tratado-Primero.png" height="200">
						<img class="imagenes_librerias" src="../src/Paints/Hung.png" height="200">
					</div>
				</a>
			</div>
			<div id= "libreria_constelar">
				<a class="hover_librerias" href="Constelar_Library.html" alt= "Constelar">
					<p class="titulo">CONSTELAR</p>
					<div>
						<img class="imagenes_librerias" src="../src/Paints/Pleyades.png" height="200">
						<img class="imagenes_librerias" src="../src/Paints/Lynx.png" height="200">
						<img class="imagenes_librerias" src="../src/Paints/Orion.png" height="200">
					</div>
				</a>
			</div>
			<div id= "libreria_tears">
				<a class="hover_librerias" href="Tears_Library.html" alt= "Tears">
					<p class="titulo">TEARS</p>
					<div>
						<img class="imagenes_librerias" src="../src/Paints/Alas.png" height="200">
						<img class="imagenes_librerias" src="../src/Paints/Dearly-Alice.png" height="200">
						<img class="imagenes_librerias" src="../src/Paints/Yellow-Rain.png" height="200">
					</div>
				</a>
			</div>
		</body>
		<script src = "https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src = "../js/scripts.js"></script>
</html>
