
<!DOCTYPE html>
<html>
		<head>
			<meta charset="UTF-8">
			<title> Mayhem </title>
			<link href="../estilos/style.css" rel="stylesheet" type="text/css">
		</head>
		<body>
			<header>
				<h1 id = "titular"> CANTOS DEL POETA DE LA TRISTE FIGURA </h1>
			</header>
			<hr>
			<section>
				<nav id = "navegacion">
					<p class="titulo_boton">NAVEGACIÓN</p>
					<hr>
					<ul>
						<li class = "boton"> <a href="../index.html" >Inicio</a></li>
						<hr>
						<li class = "boton"> <a href="Galeries.html" >Galeria de imagenes</a></li>
						<hr>
						<li class = "boton"> <a href="Libraries.html" >Biblioteca de poemas</a></li>
					</ul>
				</nav>
			</section>
			<section>
				<nav id ="Contact">
					<p class = "titulo_boton">REDES SOCIALES</p>
					<hr>
					<li class="boton"><a href="#" >Facebook</a></li>
					<hr>
					<li class="boton"><a href="#" >Deviant Art</a></li>
					<hr>
					<li class="boton"><a href="#" >Patreon</a></li>
				</nav>
			</section>
			<div id = "obra">
				<p class = titulo > PROJECT: JCCL-201 </p>
				<hr>
				<div class = "poems">
					<div class ="imgs">
						<a href="../src/Paints/JCCL-201-GB.jpg" target="_blank"><img  src = "../src/Paints/JCCL-201-GB.jpg" alt = "Project: JCCL-201" height="500"></a>
					</div>
					<p >Yo: 
					Soy un error.<br>
					Soy lo que no debió nacer.<br>
					Soy frío metal.<br>
					<br>
					Dolor... lo conocí, hace ya muchos años.<br>
					Dolor... lo traigo y lo doy siempre que quiero.<br>
					Dolor... mi propia cuita.<br>
					<br>
					Salvación... no la espero.<br>
					Salvación... no la doy.<br>
					Salvación... no la tengo.<br>
					<br>
					Para qué llorar, si mis negras lagrimas se perderán
					<br>en la lluvia de sangre que yo mismo formé.
					<br>
					Yo:<br>
					Soy un guerrero de figura decrepita.<br>
					<br>
					~PROJEKT-JCCL-201~ 
					<time datetime ="2019-09-13T21:50"> </time> 
					</p>
				</div>
				<br>
				<p class="titulo"> MI UNICA ESTRELLA </p>
				<hr>
				<div class="poems">
					<div class="imgs">
						<a href="../src/Paints/Mi-unica-estrella.jpg" target="_blank"><img src="../src/Paints/Mi-unica-estrella.jpg" alt = "Mi unica estrella" width="500"></a>
					</div>
					<p>
						Estrellas viven para morir.<br>
						Humanos viven para morir.<br>
						Pero ¿algo muere para vivir?<br>
						De esas, solo una persona conocí.<br>
						<br>
						Mi única y ultima estrella.<br>
					</p>
				</div>
				<br>
				<p class="titulo"> CARTA A LA LUNA</p>
				<hr>
				<div class="poems">
					<div class="imgs">
						<a href="../src/Paints/EPDLTF.jpg" target="_blank"> <img src="../src/Paints/EPDLTF.jpg" alt="El poeta de la triste figura" height="500"></a>
					</div>
					<p>
						Alta y hermosa existencia que con tu tenue luz<br>
						disipas las sombras que el sol no puede.<br>
						Si tu palabra es en mi bien oída,<br>
						y si entre ambos somos parecidos e iguales,<br>
						siento decir que esa propuesta no me llena de gozo.<br>
						<br>
						¿Me iré siempre al tiempo justo?.<br>
						¿Seré olvidado hasta que sea visto?<br>
						¿Seré ignorado hasta que la melancolía guié las miradas hacia mi?<br>
						¿Será ese mi destino?<br>
						¿Seré yo olvido?.<br>
						<br>
						Atentamente; El poeta de la triste figura.
					</p>
				</div>
			</div>
		</body>
</html>