
<!DOCTYPE html>
<html>
		<head>
			<meta charset="UTF-8">
			<title> Tears </title>
			<link href="../estilos/style.css" rel="stylesheet" type="text/css">
			<script src = "https://code.jquery.com/jquery-3.4.1.min.js"></script>
			<script type="text/javascript" src = "../js/scripts.js"></script>
		</head>
		<body>
			<header>
				<h1 id = "titular"> CANTOS DEL POETA DE LA TRISTE FIGURA </h1>
			</header>
			<hr>
			<section>
				<nav id = "navegacion">
					<p class="titulo_boton">NAVEGACIÓN</p>
					<hr>
					<ul>
						<li class = "boton"> <a href="../index.html" >Inicio</a></li>
						<hr>
						<li class = "boton"> <a href="Galeries.html" >Galeria de imagenes</a></li>
						<hr>
						<li class = "boton"> <a href="Libraries.html" >Biblioteca de poemas</a></li>
					</ul>
				</nav>
			</section>
			<section>
				<nav id ="Contact">
					<p class = "titulo_boton">REDES SOCIALES</p>
					<hr>
					<li class="boton"><a href="#" >Facebook</a></li>
					<hr>
					<li class="boton"><a href="#" >Deviant Art</a></li>
					<hr>
					<li class="boton"><a href="#" >Patreon</a></li>
				</nav>
			</section>
			<div id = "obra">
				<p class = titulo > ALAS </p>
				<hr>
				<div class = "poems">
					<div class ="imgs">
						<a href="../src/Paints/Alas.png" target="_blank"><img   src = "../src/Paints/Alas.png" alt = "Alas" width="500"></a>
					</div>
					<p>
						<br>
						Alimenta tu ideal<br>
						<br>
						Supera la prueba<br>
						<br>
						Sobreponte al destino<br>
						<br>
						Enfrenta la realidad<br>
						<br>
						Y dale un  capitulo final a tu historia<br>
						<br>
					<time datetime ="2019-09-13T21:50"> </time>
					</p>
				</div>
				<br>
				<p class="titulo"> DEARLY ALICE </p>
				<hr>
				<div class="poems">
					<div class="imgs">
						<a href="../src/Paints/Dearly-Alice.png" target="_blank"><img src="../src/Paints/Dearly-Alice.png" alt = "Alice" width="500"></a>
					</div>
					<p>
						<br>
						Querida Alicia<br>
						Aquí estamos todos locos<br>
						Yo etoy loco<br>
						Tu estás loca<br>
						...<br>
						¿Que como lo sé?<br>
						Pues, si no estuvieses loca<br>
						No estarías aquí<br>
						<br>
						<i>Alicia en el país de las maravillas</i><br>
					</p>
				</div>
				<br>
				<p class="titulo"> MONSTER </p>
				<hr>
				<div class="poems">
					<div class="imgs">
						<a href="../src/Paints/Monster.png" target="_blank"><img src="../src/Paints/Monster.png" alt = "Monster" width="500"></a>
					</div>
					<p>
						<br>
						¿Como me veo?<br>
						¿Como soy?<br>
						¿Que soy?<br>
						<br>
						...<br>
						<br>
						No lo se...<br>
						O al menos ahora no lo se.<br>
						<br>
					</p>
				</div>
				<p class="titulo"> YELLOW RAIN </p>
				<hr>
				<div class="poems">
					<div class="imgs">
						<a href="../src/Paints/Yellow-Rain.png" target="_blank"><img src="../src/Paints/Yellow-Rain.png" alt = "Yellow rain" height="500"></a>
					</div>
					<p>
						<br>
						Las calles desoladas<br>
						Las faloras alineadas como centinelas<br>
						Camino atrivillado de gotas<br>
						<br>
						...<br>
						<br>
						No siento frio<br>
						<br>
					</p>
				</div>
				<br>
			</div>
		</body>
</html>
