
<!DOCTYPE html>
<html>
		<head>
			<meta charset="UTF-8">
			<title> Tormes </title>
			<link href="../estilos/style.css" rel="stylesheet" type="text/css">
			<script src = "https://code.jquery.com/jquery-3.4.1.min.js"></script>
			<script type="text/javascript" src = "../js/scripts.js"></script>
		</head>
		<body>
			<header>
				<h1 id = "titular"> CANTOS DEL POETA DE LA TRISTE FIGURA </h1>
			</header>
			<hr>
			<section>
				<nav id = "navegacion">
					<p class="titulo_boton">NAVEGACIÓN</p>
					<hr>
					<ul>
						<li class = "boton"> <a href="../index.html" >Inicio</a></li>
						<hr>
						<li class = "boton"> <a href="Galeries.html" >Galeria de imagenes</a></li>
						<hr>
						<li class = "boton"> <a href="Libraries.html" >Biblioteca de poemas</a></li>
					</ul>
				</nav>
			</section>
			<section>
				<nav id ="Contact">
					<p class = "titulo_boton">REDES SOCIALES</p>
					<hr>
					<li class="boton"><a href="#" >Facebook</a></li>
					<hr>
					<li class="boton"><a href="#" >Deviant Art</a></li>
					<hr>
					<li class="boton"><a href="#" >Patreon</a></li>
				</nav>
			</section>
			<div id = "obra">
				<p class = titulo > TRATADO PRIMERO </p>
				<hr>
				<div class = "poems">
					<div class ="imgs">
						<a href="../src/Paints/Tratado-Primero.png" target="_blank"><img  src = "../src/Paints/Tratado-Primero.png" alt = "Tratado Primero" width="500"></a>
					</div>
					<p>
						<br>
						Pues sepa Vuestra Merced ante todas las cosas<br>
						Que a mi llaman Lazaro de Tormes<br>
						Hijo de Tormé González y de Antonia Perez<br>
						Naturalez de Tejares, aldea de Salamanca<br>
						<br>
						<i>El Lazarillo de Tormes - Tratado Primero</i><br>
					<time datetime ="2019-09-13T21:50"> </time>
					</p>
				</div>
				<br>
				<p class="titulo"> HAMBRE </p>
				<hr>
				<div class="poems">
					<div class="imgs">
						<a href="../src/Paints/Hung.png" target="_blank"><img src="../src/Paints/Hung.png" alt = "Hambre" width="500"></a>
					</div>
					<p>
						De manera que en nada hallaba descanso, salvo<br>
						en la muerte, que yo también para mi como para los otros<br>
						deseaba algunas veces; mas no la vía, aunque estaba<br>
						siempre en mi<br>
						<br>
						<i>El Lazarillo de Tormes - Tratado Segundo</i><br>
					</p>
				</div>
				<br>
			</div>
		</body>
</html>
